* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #2f2f2c;
}

.menubar {
  height: 30px;
  position: relative;
  padding: 0 0 0 50px;
  z-index: 2;
  font-size: 13px;
}
.menubar .menu {
    position: relative;
    z-index: 5;
    color: #333;
    display: inline-block;
}
.menubar .menu_title {
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    padding: 7px 10px;
    z-index: 10;
    position: relative;
    vertical-align: top;
    color: white;
    /* background: white; */
    /* color: #333; */
}
#logo{
 line-height: 13px; 
}
.menubar .menu_title:hover{
  background-color: #444442;
}
.menubar .menu_title_click{
  background-color: white;
  color: #333;
}
.menubar .menu_title_click:hover{
  background-color: white;
}
.menubar .menu_list{
      /* display: none; */
      position: absolute;
      top: 30px;
      left: 0;
      white-space: nowrap;
      background: white;
      padding: 7px 0;
      border-radius: 0 3px 3px 3px;
      box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.menubar .menu_list .menu_item {
    position: relative;
    overflow: hidden;
    line-height: 22px;
    padding: 5px 69px 5px 25px;
    cursor: default;
    color: #333;
}
.menubar .menu_list .menu_item:hover {
  background: rgba(0,0,0,0.1);
    color: #000;
}

.menubar .menu_list .menu_item_selected:before{
  content: '✔';
  position: absolute;
  display: block;
  left: 7px;
  top: 3px;
  width: 20px;
  height: 20px;
}

.menubar .menu_list .separator {
    margin: 5px 0;
    border-top: solid #ddd 1px;
}


.sidebar_left {
  position: fixed;
  top: 30px;
  left: 0px;
  width: 50px;
  height: calc(100vh - 30px);
}

.sidebar_left .tools-button{
  border: solid 11px #2F2F2C;
  border-top: solid 5px #2f2f2c;
  border-bottom: solid 5px #2f2f2c;
  cursor: pointer;
}

.sidebar_left .tools-button .selected{
  background-color: #00ccff;
}

.sidebar_left .tools-button .not_selected{
  background-color: #fff;
}

.workarea {
  position: fixed;
  top: 30px;
  left: 50px;
  right: 220px;
  bottom: 120px;
  background-color: #3f3f3c;
  /* overflow-y: scroll; */
}

.sidebar_bottom {
  position: fixed;
  width: calc(100vw - 50px - 220px);
  height: 120px;
  left: 50px;
  bottom: 0px;
  padding: 5px 0px;
  overflow: hidden;
}

.sidebar_right {
  position: fixed;
  top: 30px;
  right: 5px;
  width: 210px;
  height: calc(100vh - 30px);
  /* padding: 0px 5px; */
  background-color: #3f3f3c;
  border:solid 1px #202020;
}

.sidebar_right .menus {
  height: 30px;
  position: relative;
  /* padding: 0 0 0 50px; */
  z-index: 2;
  font-size: 13px;
}
.sidebar_right .menus .menu {
    position: relative;
    z-index: 5;
    color: #333;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}
.sidebar_right .menus .menu_title {
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    padding: 7px 10px;
    z-index: 10;
    position: relative;
    vertical-align: top;
    color: white;
    width: 100%;
    border-bottom: solid 1px #202020;
    background-color: #2f2f2c;
    /* background: white; */
    /* color: #333; */
}
.sidebar_right .menus .menu_title:hover{
  background-color: #444442;
}
.sidebar_right .menus .menu_title_click{
  background-color: #3f3f3f;
  color: #fff;
  border-bottom:none;
}
/* .sidebar_right .menus .menu_title_click:hover{
  background-color: white;
} */

.sidebar_right p{
  color: white;
  margin: 0.5rem 5px 0.3rem;
}

.sidebar_right button{
  padding: 0 1em !important;
  margin-top: auto;
}

.sidebar_right .group{
  font-size: 12px;
  padding: 0px 1em;
}

.sidebar_right .group span{
  color: white;
  width: 5em;
  display: inline-block;
}

.sidebar_right .group label{
  display: inline-block;
  color: #eee;
  height: 1.5rem;
  line-height: 1.5rem;
}

.sidebar_right .group input[type=text],input[type=number],input[type=color],input[type=range]{
  width: 118px;
  display: inline-block;
}

.sidebar_right .group select{
  width: 118px;
}

.label-image{
  background-repeat: no-repeat;
  width: 31px;
  height: 30px !important;
  display: inline-block;
  cursor: pointer;
  background-size: 16px 16px;
  background-position: center;
  border-right: solid 1px #3f3f3c;
}
.label-display{
  background-image: url('../images/icon/display.svg');
}
.label-undisplay{
  /* background-image: url('../images/icon/undisplay.svg'); */
}
.label-lock{
  background-image: url('../images/icon/lock.svg');
}
.label-unlock{
  /* background-image: url('../images/icon/unlock.svg'); */
}


#pagesContainer{
  position: absolute;
  left: -100px;
}

.sidebar_bottom .page{
  background-color: white; 
  margin-right: 5px;
  cursor: pointer;
  height: 110px;
  float: left;
  position: relative;
}

.sidebar_bottom .page .currentPage{
  top:5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  position: absolute; 
  border: dashed 2px red; 
  
}

.sidebar_bottom .page p{
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  text-align: center; 
  left: 20%;
  width: 60%;
  /* width:100%; */
}



.page-panel{
  position: absolute; 
  bottom:10px; 
  right: 10px; 
}

.button{
  padding: 3px 1rem;
  margin-top: 5px;
}

#canvas_container {
}

#createPagePanel{
  font-size: 13px;
}
#canvas_editor {
  /* width: calc(100vw - 225px); */
  width: 100%;
  height: calc(100vh - 30px - 120px);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #444;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #444;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
}

::-webkit-scrollbar-corner {
  background: #444;
}

.contextmenu {
  position: absolute;
  width: 200px;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  z-index: 99;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  padding: 5px 0px;
  font-size: 13px;
}

.contextmenu li {
  /* border-left: 3px solid transparent; */
  color: #000000;
  transition: ease 0.3s;
}

.contextmenu li.separator {
  height: 1px;
  background-color: #e3e3e3;
  margin: 3px 0px;
}

.contextmenu li:hover {
  background: #2196f3;
  color: #fff;
}

.contextmenu li.disabled {
  color: lightgray;
}

.contextmenu li.disabled:hover {
  color: lightblue;
  background-color: white;
}

.contextmenu li a {
  display: block;
  padding: 3px 20px;
  
  text-decoration: none;
  /* transition: ease 0.3s; */
}

.contextmenu li a span {
  float: right;
}

#selectPanel.crosshair{
  cursor: crosshair;
}

#selectPanel.text{
  cursor: text;
}